.message-container {
  width: 500px;
  height: 400px;
  display: flex;
  border: 1px solid gray;
  border-radius: 3px;
  overflow: auto;
  flex-direction: column;
  background-color: azure;
}

.message-item-text {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(128,128,128,0.2);
  color: black;
}

.message-item-system {
  margin: 5px;
  padding: 5px;
  color: gray;
}

.message-img {
  margin: 5px;
  max-width: 250px;
  max-height: 250px;
}

.message-input-container {
  position: relative;
  background-color: white;
}

.message-input {
  border: 1px solid #ccc; 
  width: 100%;
  height: 100px;
}

.message-input img {
  max-width: 70px;
  max-height: 70px;
  margin: 2px;
}

.message_send_btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}